* {
    font-family: 'Schoolbell', cursive;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #363537;
}

.hangman {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30vh;
    background-repeat: no-repeat;
}

.secretWord {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 800px;
    height: 6vh;
    gap: 10px
}

.secretLetter {
    width: 50px;
    height: 50px;
    border-bottom: solid 2px #2FBF71;
    display: flex;
    justify-content: center;
    align-items: center;
}

.letter {
    text-align: center;
    color: white;
    font-weight: 700;
    font-size: 30px;
}

.keyboard {
    display: grid;
    grid-template-columns: repeat(9, 3vh);
    grid-template-rows: repeat(4, 3vh);
    justify-content: center;
    gap: 30px;
    margin-top: 5%;
}

.key {
    width: 50px;
    height: 50px;
    font-size: 30px;
    border-radius: 32px;
    background: #363537;
    box-shadow:  5px 5px 10px #2f2e30,
                -5px -5px 10px #3d3c3e;
    color: #2FBF71;
    font-weight: 700;
    transition: all ease 300ms;
    text-shadow: 2px 4px 8px rgba(0,0,0,0.33);
}

.keyDisabled{
    width: 50px;
    height: 50px;
    font-size: 30px;
    border-radius: 32px;
    background: #2f2e30;
    box-shadow:  5px 5px 10px #2f2e30,
                -5px -5px 10px #3d3c3e;
    color: #DA7E5D;
    font-weight: 700;
    transition: all ease 300ms;
    text-shadow: 2px 4px 8px rgba(0,0,0,0.33);
}

.key:hover {
    background: #2f2e30;
    box-shadow: inset 5px 5px 10px #2f2e30,
                inset -5px -5px 10px #3d3c3e;
    cursor: pointer;
    font-size: 35px;
    color: #DA7E5D;
}

.category {
    color: #2FBF71;
    font-size: 30px;
    font-weight: 700;
    text-shadow: 2px 4px 8px rgba(0,0,0,0.33);
    cursor: default;
    transition: all ease 300ms;
}

.category:hover {
    transform: scale(1.1);
}

.popup {
    position: fixed;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    width: 60vh;
    background-color: #2f2e30;
    border: solid 2px #2FBF71;
    border-radius: 50px;
    gap: 20px;
    box-shadow: 10px 10px 59px 4px rgba(47,191,113,0.59);
}

.popupText {
    color: white;
    font-size: 50px;
    font-weight: 700;
}

.popupImg {
    height: 50%;
}

.popupBtn {
    margin-top: 50px;
    font-size: 30px;
    font-weight: 700;
    padding: 10px;
    border-radius: 10px;
    background-color: #2FBF71;
    border: solid 2px transparent;
    transition: all ease 300ms;
    color: #2f2e30;
}

.popupBtn:hover {
    background-color: #2f2e30;
    border: solid 2px #2FBF71;
    color: #2FBF71;
    transform: scale(1.1);
    cursor: pointer;
}

@media (max-width: 400px){
    .container {
        width: 100%;
    }

    .popup {
        width: 40vh;
        height: 60vh;
    }
    .popupText {
        font-size: 30px;
    }

    .key, .keyDisabled {
        width: 30px;
        height: 30px;
        font-size: 15px;
    }

    .keyboard {
        gap: 10px
    }

    .secretWord {
        width: 380px;
    }
}